<div class="row">
            <div class="col-3 col-lg-3 col-md-3 col-sm-12 float-start me-auto">
            <img src="http://picsum.photos/id/1025/150/150" alt="User Profile Pic" class="rounded-circle mb-3">
                <div class="border-end bg-white" id="sidebar-wrapper">
                    <div class="sidebar-heading border-bottom bg-light">{{first_name}} {{last_name}}
                        <br>
                        Active Since: {{createdAt}}
                        <br>
                       {{email}} </div>
                    <div class="list-group list-group-flush">
                        <a class="list-group-item list-group-item-action list-group-item-light p-3" href="/items">Manage Items</a>
                        <a class="list-group-item list-group-item-action list-group-item-light p-3" href="/rentals">Manage Rentals</a>
                        <a class="list-group-item list-group-item-action list-group-item-light p-3" href="/addresses">Manage Addresses</a>
                        <a class="list-group-item list-group-item-action list-group-item-light p-3" href="/payments">Manage Payment Methods</a>
                        <a class="list-group-item list-group-item-action list-group-item-light p-3" href="/orders">Order History</a>
                    </div>
                </div>
            </div>
</div>
{{#if url==="items"}}
{{items-view}}
{{/if}}}}
{{#if url==="rentals"}}
{{rentals-view}}
{{/if}}}}
{{#if url==="addressess"}}
{{addressess-view}}
{{/if}}}}
{{#if url==="payments"}}
{{payments-view}}
{{/if}}}}
{{#if url==="orders"}}
{{orders-view}}
{{/if}}}}

<script src="./js/profile.js"></script>
