<div class="col-10">
    <div class="container">
        <h2>Category: {{categories.name}}</h2>
        <div class="row">
             {{#each items as |item|}}
            <div class="card col-md-4 border-light">
                <div class="card-body">
                    <a href='/item/{{id}}'><img class="card-img-top" src="/images/{{image}}" alt="Card image cap"/></a>
                    <h5 class="card-title text-center pt-3">{{name}}</h5>
                    <p>Price: ${{rental_price}}</p>
                    <p>Rate:</p>
                </div>
            </div>
            {{/each}}
        </div>
    </div>
</div>

