<div class="row bg-dark" >
    <div class="container">
        <h1 class="text-center" style="color:white">{{categorySelected.name}}</h1>
        <div class="row">
             {{#each items as |item|}}
            <div class="container item-card col-lg-3 col-md-4 col-sm-6 ">
                <div class="card border-light mt-4">
                    <div class="itemImaCard">
                        <a href='/item/{{id}}'><img class="card-img-top item-img" src="/images/{{image}}" alt="Card image cap"></a>
                    </div>
                    <div class="card-body align-self-center rounded-bottom" style="height:250px; width:455px; background-color:rgba(168,9,9,0.993)">
                        <h5 class="card-title text-center pt-3" style="overflow: hidden; color:white">{{name}}</h5>
                        <p style="color:white">Rating: <span class="rating_bar" style="color:white">{{reviews.rating}}</span></p>
                        <p style="color:white">Rent for: ${{rental_price}} a day</p>
                        <p style="color:white">Buy now for: ${{buy_price}}</p>
                    </div>
                </div>
            </div>
            {{/each}}
        </div>
    </div>
</div>

<script src="/js/rating.js"></script>