<!-- Loop over each object in the projects array -->
{{#each projects as |project| }}
<div class="row mb-4 project">
  <div class="col-md-5">
    <h2>
      <!-- Call helper function with triple brackets to render the emoji span as HTML -->
      {{{get_emoji}}}
      <a href="/project/{{project.id}}">{{project.name}}</a>
    </h2>
    <p>
      <span for="img" aria-label="money">💲</span>
      <!-- Pass needed_funding value to the helper function -->
      <span class="dollar-amount">{{format_amount project.needed_funding}}</span>
      needed!
    </p>
    <p>Created by {{project.user.name}} on {{format_date project.date_created}}</p>
  </div>
  <div class="col-md-7">
    <p>
      {{project.description}}
    </p>
  </div>
</div>
{{/each}}
 <div class="col">
          <div class="container-fluid my-5 row">
            <h2 class="featured-items">Featured Items:</h2>
               <div class="row">
                   <div class="col-12 m-auto ">
                     {{#each items as |item|}}
                       <div class="owl-carousel owl-theme">
                           <div class="item mb-4 item-border">
                               <div class="card border-0 shadow ">
                                   <img src="{{item.image}}" alt="" class="card-img-top img-carousel">
                                   <div class="card-body ">
                                       <div class="card-title text-center">
                                           <h4 id="carouselitem-name">{{item.name}}</h4>
                                           <h5 id="carouselitem-price">{{item.rental_price}}/day</h5>
                                       </div>
                                   </div>
                               </div>
                           </div>
                      </div>
                        {{/each}}

                  </div>
            </div>
      </div>
 </div>

    <div class="row aboutbody">
          <p class="abouthead">Rent or Buy, it's your choice!</p>
          <span class="aboutinfo ">Scalpel allows you to rent high priority items so you don't have to spend your hard earned money on something you might not need long term! We cover all items ranging from gaming PC's to the newest Air Jordans! If you love the product; buy it from us! We offer our customers the option to buy used items that we rent out so customers can not only try out the item first, but also buy it at a discounted price! </span>
        </div>
        {{!-- {{#each Categories as |category|}}
        <div class="container-fluid my-5 row">
       <h2>{{category.name}}:</h2>
          <div class="row">
              <div class="col-12 m-auto">
            {{#each items as |item|}}
<div class="owl-carousel owl-theme">
                      <div class="item mb-4">
                          <div class="card border-0 shadow">
                              <img src="{{item.image}}" alt="" class="card-img-top img-carousel">
                              <div class="card-body ">
                                  <div class="card-title text-center">
                                       <h4 id="carouselitem-name">{{item.name}}</h4>
                                           <h5 id="carouselitem-price">{{item.rental_price}}/day</h5>
                                  </div>
                              </div>
                          </div>
                      </div>

              {{/each}}

              </div>
          </div>
        </div>
        {{/each}} --}}
                {{#each Categories as |category|}}
        <div class="container-fluid my-5 row">
       <h2>{{category.name}}:</h2>
          <div class="row">
              <div class="col-12 m-auto">
            
<div class="owl-carousel owl-theme">
                      <div class="item mb-4 ">
                          <div class="card border-0 shadow">
                              <img src="{{category.item.image}}" alt="" class="card-img-top img-carousel">
                              <div class="card-body ">
                                  <div class="card-title text-center">
                                       <h4 id="carouselitem-name">{{category.item.name}}</h4>
                                           <h5 id="carouselitem-price">{{category.item.rental_price}}/day</h5>
                                  </div>
                              </div>
                          </div>
                      </div>

              

              </div>
          </div>
        </div>
        {{/each}}