<div class="container">
    <div class="row">
        <div class="col-md-4 pt-5 text-center">
            <div>
                <img src="/images/{{item.image}}" class="img-responsive" style="width:100%" alt="{{item.name}}">
            </div>
            <br>
            <div>
                <p>Rental Price : ${{item.rental_price}}</p>
                {{!-- <p>Rental Period: Per Day</p> --}}
                <p>Buy Price: ${{item.buy_price}}</p>
            </div>
            <div>
                <button type="click" id="rentBtn" data-attr="{{item.id}}" class="btn btn-danger">Rent Now</button>
                <button type="click" id="buyBtn" data-attr="{{item.id}}" class="btn btn-danger">Buy Now</button>
            </div>

        </div>
    
       
        <div class="col-md-8 align-self-center pt-5">
            <div class="row justify-content-center ">
                <h3 style="letter-spacing: 1px;">{{item.name}}</h3>
                <p>Rating: <span class="rating_bar">{{item.rating}}</span></p>
            </div>
            <br>
            <div class="jumbotron" style="background: transparent;">
                <p style="font-size: 20px;">
                {{item.description}}
                </p>
            </div>
            
        </div>
    </div>
</div>
<br>
<div class="container">
    <h4>Reviews</h4>
    <div class="row">
        {{#each reviews as |reviews|}}
        <div class="card col-12">
            <div class="card-body">
            <p>Rating: <span class="rating_bar">{{reviews.rating}}</span></p>
            <p>{{reviews.body }}</p>
            </div>
        </div>
        {{/each}}
    </div>
</div>

<hr>
<h3 class="row justify-content-center"> Related Items</h3>

<br>

<div class="row">
    <div class="col-12 m-auto">
        <div class="owl-carousel owl-theme">
            {{#each categoryItem as |item|}}
            <a class="link-style" href="/item/{{item.id}}">
                <div class="item mb-4 item-border" >
                    <div class="card border-0 shadow" style="height:370px">
                        <img src="/images/{{item.image}}" alt="" class="card-img-top img-carousel item-image" style="width: 350px;height:250px;">
                        <div class="card-body">
                            <div class="card-title text-center">
                                <h4 id="carouselitem-name" class="item-name">{{item.name}}</h4>
                                <h5 id="carouselitem-price" class="item-price">${{item.rental_price}}/Per Day</h5>
                                   <h6 id="carouselitem-buyprice"  class="item-price">Buy now for ${{item.buy_price}}</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
            {{/each}}
        </div>
    </div>
</div>


<script src="/js/rating.js"></script>
<script src="/js/item-detail.js"></script>

